CONFIG_CONSTRUCTORS=y
CONFIG_RUST=y
CONFIG_SAMPLES=y
CONFIG_SAMPLES_RUST=y
CONFIG_SAMPLE_RUST_MINIMAL=y
CONFIG_SAMPLE_RUST_PRINT=y
CONFIG_RUST_OVERFLOW_CHECKS=y

CONFIG_DEBUG_STACK_USAGE=n

CONFIG_DRM=n
CONFIG_WIRELESS=n
CONFIG_WLAN=n

CONFIG_INIT_STACK_NONE=y

CONFIG_DEBUG_INFO_DWARF5=y
CONFIG_DEBUG_INFO_REDUCED=n
CONFIG_DEBUG_INFO_SPLIT=n
CONFIG_GDB_SCRIPTS=y
